/**********************TAGS SELECTORS**********************/
body {
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
  margin: 0;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: 1;
}


h2 {
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  line-height: 2;
}

h3 {
font-family: 'Montserrat', sans-serif;
color: #11999E;
}

hr {
  border-style: none;
  border-top: 5px dotted #EAF6F6;
  width: 5%;
  margin-top: 50px;
  margin-bottom: 50px;
}

p {
  line-height: 2;
}

audio {
    width: 300px;
    height: 54px;
}
/**********************CLASS SELECTORS**********************/

.top-container {
  background-color: #E4F9F5;
  padding-top: 100px;
  position: relative;
  margin-bottom: 50px;
  margin-top: 0;
}
.top-cloud {
position: absolute;
right: 300px;
top: 50px;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.prof-pic {
  border-radius: 50%;
}

.icon {
  height: 50px;
  width: 50px;
  margin: 0 10px 0 10px;
}

.middle-container {
background-color: white;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.design {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.problems {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.bottom-container {
  padding: 50px 300px 10px 300px;
  background-color: #66BFBF;
  color: #EAF6F6;
}

.footer-link {
  color: #11999E;
}

.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #11999E);
  background-image: -moz-linear-gradient(top, #66BFBF, #11999E);
  background-image: -ms-linear-gradient(top, #66BFBF, #11999E);
  background-image: -o-linear-gradient(top, #66BFBF, #11999E);
  background-image: linear-gradient(to bottom, #66BFBF, #11999E);
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin: 50px;
}
